<a href="https://colab.research.google.com/github/MehakHamid/python/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1st program hello world

```
# This is formatted as code
```

In [1]:
print("hello world")

hello world

#DATA TYPES

1. Numeric Types

Integer (int)

In [6]:
Age : int = 25
print("my age is " + str(Age))
print(type(Age),"TYPE OF AGE")

my age is 25
<class 'int'> TYPE OF AGE

Floating-Point (float)

In [7]:
Percentage : float = 90.5
print("my percentage is " + str(Percentage))
print(type(Percentage),"TYPE OF PERCENTAGE")

my percentage is 90.5
<class 'float'> TYPE OF PERCENTAGE

Complex (complex)

In [8]:
formula : complex = 3 + 4j
print("my formula is " + str(formula))
print(type(formula),"TYPE OF FORMULA")

my formula is (3+4j)
<class 'complex'> TYPE OF FORMULA

2. Boolean (bool)

In [10]:
myName :bool = True
myName:bool = False
print("my name is " + str(myName))
print(type(myName),"TYPE OF MYNAME")

my name is False
<class 'bool'> TYPE OF MYNAME

3. Sequence Types

String (str)

In [12]:
myFav = "Cat"
myFav1 = 'dog'
myFav2 = """bird"""
myFav3 = '''fish'''
print(myFav)
print(myFav1)
print(myFav2)
print(myFav3)
print(type(myFav),"text_double ,TYPE OF MYFAV")
print(type(myFav1),"text_single ,TYPE OF MYFAV1")
print(type(myFav2),"multi TYPE OF MYFAV2")
print(type(myFav3),"multi TYPE OF MYFAV3")

Cat
dog
bird
fish
<class 'str'> text_double ,TYPE OF MYFAV
<class 'str'> text_single ,TYPE OF MYFAV1
<class 'str'> multi TYPE OF MYFAV2
<class 'str'> multi TYPE OF MYFAV3

List (list)

In [13]:
my_list_1: int = [1, 2, 3, "Java", 3.14, True]
my_list: list = [1, 2, 3, "Python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)
print(type(my_list), " my_list   =  " + str(my_list))

<class 'list'>  my_list_1 =  [1, 2, 3, 'Java', 3.14, True]
<class 'list'>  my_list   =  [1, 2, 3, 'Python', 3.14, (3+2j)]

Tuple (tuple)

In [14]:
my_tuple: tuple = (1, 2, 3, "AI", 2.71, False, .3 , 3+2j )
print(type(my_tuple), " my_tuple = ", my_tuple )

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

RANGE

In [20]:
num_range: range = range(1, 10, 2)

print(type(num_range), num_range.stop)

<class 'range'> 10

In [21]:
for i in num_range:
  print(i)

1
3
5
7
9

4. Set Types

Set

In [22]:
my_set: set = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)

<class 'set'> my_set =  {1, 2, 33, 4, 5}

Frozen Set (frozenset)

In [23]:
frozen_set = frozenset([11, 2, 3, 4, 4, 5])
#frozen_set = frozenset(my_set)
print(type(frozen_set), " frozen_set = ", frozen_set)

<class 'frozenset'>  frozen_set =  frozenset({2, 3, 4, 5, 11})

5. Mapping Type

In [24]:
my_dict: dict = {"name": "Alice", "age": 25, "language": "Python"}
print(type(my_dict)," my_dict = ", my_dict )

<class 'dict'>  my_dict =  {'name': 'Alice', 'age': 25, 'language': 'Python'}